<div class="body">
  <div class="login" style="background-color: rgb(40, 54, 83) ;">
    <form
      ngNativeValidate
      #userlogin="ngForm"
      (ngSubmit)="userLogin(userlogin.value)"
    >
      <div class="email">
        <label for="login" class="container"> <h2>Login</h2> </label><br />
        <label for="exampleInputEmail1" class="form-label"><b>Email </b></label>
        <input
          ngModel
          name="email"
          type="email"
          class="form-control"
          placeholder="abc@gmail.com"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          required
        />
        <br />
        <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
        <input
          ngModel
          name="password"
          type="password"
          class="form-control"
          placeholder="********"
          id="exampleInputPassword1"
          required
        />
      </div>
      <div class="loginButton">
        <button type="submit" class="btn btn-outline-primary text-align-center text-center">Login</button>
      </div>
    </form>
    <a
      routerLink="/register"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <!-- <p>New to DoConnect? Register here.</p> -->
      <button type="submit" class="btn btn-outline-primary">
       <i> New To DoConnect? Register Here</i>
      </button>
       
      </a>
      <li>
        <a
          routerLink="/admin-login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <p><i>If you are our admin, Login here</i></p>
        </a>
      </li>
  </div>
  
</div>
